# Git
.git
.gitignore
.gitmodules

# Dependencies
node_modules
website/node_modules
venv
.venv

# CI/CD
.github

# Environment files
.env
.omx
.pytest_cache
__pycache__
*.pyc
dist
build
tests
website
.DS_Store

*.md
